<% include partials/header_private.ejs %>
<body>
<div class="container">
    <h1>CONTROL</h1>
    <% include partials/logout.ejs %>
    <a href="/overview" class="btn btn-warning pull-right">BACK</a>
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Information</h3>
            </div>
            <div class="panel-body">
                <span class="label label-default">IDENTIFIER:</span> <%= connection.id %><br>
                <span class="label label-default">FRIENDLY NAME:</span> <%= connection.name %><br>
                <span class="label label-default">IP-ADDRESS:</span> <%= connection.ip %><br>
                <span class="label label-default">PORT:</span> <%= connection.port %><br>

            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Actions</h3>
            </div>
            <div class="panel-body">
                <a href="#" class="btn btn-default">GET Network Info</a>
                <a href="#" class="btn btn-default">GET Users</a>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Control</h3>
            </div>
            <div class="panel-body">
                <div id="terminal"></div>
            </div>
        </div>
    </div>
</div>
</body>r
<% include partials/footer_private.ejs %>