<% include partials/header.ejs %>
<body>

<div class="container">
    <img src="/favicon.png" class="col-md-3"/>
    <form class="form-signin col-md-3" action="/login" method="post">
        <br>
        <br>
        <h2 class="form-signin-heading">Please sign in<br>with a token</h2>
        <input type="password" id="token" class="form-control" placeholder="•••••••••" name="token" required><br>
        <button class="btn btn-danger btn-block" type="submit">Sign in</button>
    </form>
</div>

<% include partials/footer.ejs %>