<% include partials/header_public.ejs %>
<body>

<div class="container">
    <br>
    <form class="panel panel-default col-md-4 col-md-offset-4 form-horizontal" action="/login" method="post">
        <h1>RASPBOT</h1>
        <h3 class="form-signin-heading">Please sign in with a token</h3>
        <input type="password" id="token" class="form-control" placeholder="•••••••••••••••••••••••••••••••••••••" name="token" required><br>
        <button class="btn btn-success btn-block" type="submit">Sign in</button>
        <br>
    </form>
</div>

<% include partials/footer_public.ejs %>